node_modules
.DS_Store
coverage
jest/coverage
dist
vendor
composer.lock
pnpm-debug.log
pnpm-lock.yaml
**/src/protos/*.rs
**/src/grpc/*/proto/*.rs
*.sw[op]
.vscode
.envrc
.log/
.angular
.direnv/
/user_specific.nix
.secrets
__pycache__
*.egg-info
.eslintcache
.stylelintcache
/out-tsc
/scripts/BackofficeRunner
**/mock-dev-responses.json
**/target/rust-analyzer
